.portfolio {
  background-color: #d6c2e8;
  width: 1200px;
  height: 3000px;
  margin: 0 auto;
  color: #262c65;
  display: grid;
  grid-auto-columns: 20px;
  grid-auto-rows: 20px;
  overflow: hidden;
}

.hh3 {
  font-family: "Katibeh";
  text-align: center;
  font-size: 180px;
  margin-bottom: 20px;
}

.project-header {
  grid-column-start: 1;
  grid-column-end: 60;
  grid-row-start: 5;
}

.project-link {
  font-family: "Kodchasan";
  font-size: 40px;
  cursor: pointer;
  grid-column-start: 20;
  grid-row-start: 15;
}

a {
  color: #262c65;
  text-decoration: none;
}

.project-link:hover {
  filter: drop-shadow(0px 4px 1px rgba(255, 69, 60, 0.75));
}

.desktop-box {
  width: 445px;
  grid-column-start: 2;
  grid-row-start: 15;
}

.g3 {
  width: 100%;
}

.caption {
  width: 100%;
  text-align: center;
  font-family: "Kodchasan";
  font-size: 13px;
}

.portfolio-text {
  font-family: "Kodchasan";
  font-size: 16px;
  text-align: left;
  line-height: 40px;
  text-indent: 30px;
}

.text-block-1 {
  grid-column-start: 28;
  grid-row-start: 20;
  grid-column-end: 59;
}

.portfolio-text-block {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.hh4 {
  font-family: "Kodchasan";
  line-height: 60px;
  font-size: 40px;
}

.text-block-2 {
  grid-column-start: 4;
  grid-row-start: 35;
  grid-column-end: 58;
}

.text-block-3 {
  grid-column-start: 4;
  grid-row-start: 50;
  grid-column-end: 36;
}

.tablet-box {
  width: 350px;
  grid-column-start: 39;
  grid-row-start: 48;
  z-index: 1;
}

.ipad {
  width: 100%;
}

.text-block-4 {
  grid-column-start: 4;
  grid-row-start: 71;
  grid-column-end: 58;
  z-index: 1;
}

.tool-belt {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  margin: 0 auto;
  grid-column-start: 3;
  grid-row-start: 84;
  grid-column-end: 58;
  z-index: 1;
}

.tool-icon {
  height: 80px;
  width: auto;
  margin-bottom: 20px;
  z-index: 1;
}

.text-block-5 {
  grid-column-start: 4;
  grid-row-start: 93;
  grid-column-end: 58;
  z-index: 1;
}

.phone-box {
  grid-column-start: 2;
  grid-row-start: 108;
  width: 300px;
  z-index: 1;
}

.phone {
  width: 100%;
}

.text-block-6 {
  grid-column-start: 20;
  grid-row-start: 111;
  grid-column-end: 58;
  z-index: 1;
}

.text-block-7 {
  grid-column-start: 4;
  grid-row-start: 139;
  grid-column-end: 58;
  z-index: 1;
}

.polygon-3 {
  background-image: url(../images/yellow-poly.png);
  width: 2642px;
  height: 3190px;
  grid-column-start: 1;
  grid-row-start: 122;
  grid-column-end: 58;
  margin: -1150px;
}

@media (max-width: 1200px) {
  .portfolio {
    width: 900px;
    height: 3000px;
  }

  .hh3 {
    font-size: 120px;
  }

  .project-header {
    grid-column-end: 45;
  }

  .project-link {
    font-size: 30px;
    grid-row-start: 13;
  }

  .desktop-box {
    width: 445px;
    grid-column-start: 2;
    grid-row-start: 12;
  }

  .text-block-1 {
    grid-column-start: 26;
    grid-row-start: 17;
    grid-column-end: 44;
  }

  .hh4 {
    font-size: 30px;
  }

  .text-block-2 {
    grid-column-start: 3;
    grid-row-start: 36;
    grid-column-end: 44;
  }

  .text-block-3 {
    grid-column-start: 3;
    grid-row-start: 51;
    grid-column-end: 30;
  }

  .tablet-box {
    width: 350px;
    grid-column-start: 28;
    grid-row-start: 48;
    z-index: 1;
  }

  .ipad {
    width: 100%;
  }

  .text-block-4 {
    grid-column-start: 3;

    grid-column-end: 44;
  }

  .tool-belt {
    width: 800px;

    grid-column-start: 3;
    grid-row-start: 80;
    grid-column-end: 44;
    z-index: 1;
  }

  .tool-icon {
    height: 70px;
  }

  .phone-box {
    grid-row-start: 109;
  }

  .text-block-6 {
    grid-row-start: 109;
    grid-column-end: 44;
  }

  .text-block-7 {
    grid-column-start: 3;
    grid-row-start: 138;
    grid-column-end: 44;
  }
}
@media (max-width: 900px) {
  .hh3 {
    font-size: 80px;
  }

  .portfolio-text {
    line-height: 30px;
  }

  .portfolio {
    width: 600px;
    height: 3700px;
  }

  .project-header {
    grid-column-end: 30;
  }

  .project-link {
    font-size: 20px;
    grid-row-start: 10;
    grid-column-end: 30;
    grid-column-start: 1;
  }

  .desktop-box {
    grid-column-start: 5;
    grid-row-start: 13;
  }

  .text-block-1 {
    grid-column-start: 2;

    grid-column-end: 30;
    grid-row-start: 33;
  }

  .hh4 {
    font-size: 25px;
  }

  .text-block-2 {
    grid-column-start: 2;

    grid-column-end: 30;
    grid-row-start: 41;
  }

  .text-block-3 {
    grid-column-start: 2;

    grid-column-end: 30;
    grid-row-start: 54;
  }

  .tablet-box {
    grid-column-start: 7;
    grid-row-start: 68;
  }

  .text-block-4 {
    grid-column-start: 2;

    grid-column-end: 30;
    grid-row-start: 93;
  }

  .tool-belt {
    width: 500px;

    grid-column-start: 2;
    grid-row-start: 102;
    grid-column-end: 29;
    flex-wrap: wrap;
    gap: 20px;
    z-index: 1;
  }

  .tool-icon {
    height: 70px;
  }

  .phone-box {
    grid-row-start: 133;
    grid-column-start: 9;
  }

  .text-block-5 {
    grid-column-start: 2;
    grid-row-start: 117;
    grid-column-end: 30;
  }

  .text-block-6 {
    grid-row-start: 160;
    grid-column-start: 2;
    grid-column-end: 30;
  }

  .text-block-7 {
    grid-column-start: 2;
    grid-column-end: 30;
    grid-row-start: 177;
  }
}
@media (max-width: 600px) {
  .hh3 {
    font-size: 40px;
  }

  .portfolio {
    width: 300px;
    height: 4450px;
  }

  .project-header {
    grid-column-end: 15;
    grid-column-start: 2;
    grid-row-start: 3;
  }

  .project-link {
    font-size: 16px;
    grid-row-start: 6;
    grid-column-end: 15;
    grid-column-start: 2;
  }

  .desktop-box {
    grid-column-start: 2;
    grid-row-start: 8;
    width: 260px;
  }

  .text-block-1 {
    grid-column-start: 2;
    grid-column-end: 15;
    grid-row-start: 20;
  }

  .hh4 {
    font-size: 20px;
    line-height: 40px;
  }

  .text-block-2 {
    grid-column-end: 15;
    grid-row-start: 33;
  }

  .text-block-3 {
    grid-column-end: 15;
    grid-row-start: 53;
  }

  .tablet-box {
    grid-row-start: 73;
    width: 260px;
    grid-column-start: 2;
  }

  .text-block-4 {
    grid-column-end: 15;
    grid-row-start: 93;
  }

  .tool-belt {
    width: 260px;

    grid-column-start: 2;
    grid-row-start: 106;
    grid-column-end: 15;
    flex-wrap: wrap;
    gap: 20px;
    z-index: 1;
  }

  .tool-icon {
    height: 70px;
  }

  .phone-box {
    grid-row-start: 156;
    grid-column-start: 2;
    width: 260px;
  }

  .text-block-5 {
    grid-row-start: 133;
    grid-column-end: 15;
  }

  .text-block-6 {
    grid-row-start: 180;

    grid-column-end: 15;
  }

  .text-block-7 {
    grid-column-end: 15;
    grid-row-start: 209;
  }
}
